body{
    font-family: "Poppins", sans-serif;
   font-size: 25px;
   .margin{
    margin: 0px;
   }
}
.Inferior{
    color: orange;
}
#pink{
    color: palevioletred;
}
.Flexible-container{
    display: flex;
    margin-top: 250px;
}

.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 8px;
    color: aliceblue;
    background-image: linear-gradient(rgb(237, 182, 81),rgb(37, 37, 69));
}
.margin{
    background-repeat:no-repeat ;
    background-image: url(images/top-banner.png);
}
    .link-hub{
        color: aliceblue;
        background-image: linear-gradient(rgb(228, 75, 242),rgb(242, 111, 40));
        padding: 10px,40px;
        border-radius: 9px;
        text-decoration: none;
    }
    .big-dreams{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;

    }
    .ex-1{
        box-shadow: 10px 8px 50px  gray;
        width: 50%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5px;
       
        padding-bottom: 150px;
        border-radius: 10px
        
        
        
        }
        
        
    h1{
        font-size: 40px;
    }
    .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
    }
    #baby{
        border-image: linear-gradient(rgb(53, 224, 119),orange);
        border-left: solid 7px;
        border-image-slice: 1;
    }
    #senior{
        border-image: linear-gradient(rgb(37, 164, 222),rgb(228, 20, 224));
        border-left: solid 8px;
        border-image-slice: 1;
    }
    footer {
        text-align: center;
        padding-top: 20px;
    }